# Build artifacts
*.o
*.bin
*.prc
*.prc.bak
*grc
*.sym
DanaQR

# Backup
*.bak
~
*:Zone.Identifier
*.deb
palm-os-sdk/
setup-palm-os-dev-env.sh
rsrc-stamp
src/DanaQR_rsrc.h
src/*:Zone.Identifier
src/qrcode.c.bak
DanaQR.prc
DanaQR.bin
*.deb.1
